.home-6__container {
    @media (max-width: $br3) {
      padding-right: 0px;
    }
}

.home-6__title {
    display: flex;
    flex-direction: column;

    @media (max-width: $br3) {
        padding-right: 20px;
      }
}

.home-6__big-text {
    @include reg;
    font-size: size(60, 30);
    line-height: 120%;
    color: #3F3D56;
    font-weight: 450;
    margin-bottom: size(20, 12);
}

.home-6__small-text {
    @include reg;
    font-size: size(20, 16);
    line-height: 150%;
    color: #3F3D56;
    margin-bottom: size(60, 32);
    max-width: size(602, 332);
}

.home-6__small-text--1 {
    @include reg;
    font-size: size(20, 16);
    line-height: 150%;
    color: #3F3D56;
    margin-bottom: 8px;

    @media (min-width: $br3) {
        display: none;
    }
}

.home-6__images {
    row-gap: size(60, 18);
    column-gap: size(90, 18);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media (max-width: $br3) {
        flex-wrap: nowrap;
        overflow: auto;
    }
}

.home-6__clients-list {
    flex: 0 1 29%;
    @media (max-width: $br3) {
        min-width: 275px;
        &:last-child {
            margin-right: 20px;
        }
    }
}

.home-6__block {
    background-color: #fff;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.home-6__img {
    padding: 32px 32px;
    display: block;
    max-width: 100%;
}