.home-3__title {
    @include reg;
    font-size: size(60, 30);
    margin-bottom: size(60, 32);
    line-height: 120%;
    color: #3F3D56;
    font-weight: 450;
}

.home-3__orders {
    display: flex;
    justify-content: space-between;

    @media (max-width: 850px) {
        flex-direction: column;
        gap: 32px;
    }

}

.home-3__cover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 29%;
    background-color: #fff;
    border-radius: 33px;
    padding: size(32, 24) size(44, 32);

    @media (max-width: 1180px) and (min-width: 850px) {
        flex-direction: column-reverse;
    }

    &:nth-child(3) {
        margin-right: 0;
    }
}

.home-3__about {
    @include reg;
    font-weight: 450;
    color: #3F3D56;
    font-size: size(28, 20);
    line-height: 120%;
    margin-right: 10px;
    flex: 1 0 auto;
}

.home-3__img {
    display: block;
    flex: 0 1 auto;
    height: size(146, 111);
    max-width: 50%;
}