.header {
    @include reg;
    font-size: size(18, 16);
    line-height: 100%;
    color: #3F3D56;
    position: fixed;
    background-color: #EBEBEB;
    padding-top: size(16, 12);
    padding-bottom: size(16, 12);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo {
    @include cover;
    width: size(196, 96);
    height: size(58, 28);
    margin-right: size(45, 9);
}

.header__lang-name {
    padding-right: size(3, 6);
}

.header__arrow {
    cursor: pointer;
}

.nav-menu {
    display: flex;
    
    @media (max-width: $br1) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #3F3D56;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #ebebeb;
        gap: 20px;
        transition: visibility .3s ease, opacity .3s ease;
    }
}

.header__menu-active {
    @media (max-width: $br1) {
        opacity: 1;
        visibility: visible;
    }
}

.nav-item {
    @include reg;
    font-size: size(18, 14);
    margin-right: vw(50);

    &:nth-child(5) {
        margin-right: 0;
    }

    @media (max-width: $br1) {
        margin-right: 0;
        font-size: 24px;
    }
}

.header__network {
    margin-right: 8px;

    &:nth-child(2) {
        margin-right: 0;
    }

    @media (max-width: $br1) {
        display: block;
    }
}

.header__mob {
    display: none;
    align-items: center;

    @media (max-width: $br1) {
        display: flex;
    }
}

.header__social {
    display: flex;
    align-items: center;
}

.header__burger {
    position: relative;
    height: 16px;
    width: 26px;
    cursor: pointer;
    margin-left: 16px;
    background-color: transparent;
}

.header__bar {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #3F3D56;
    left: 0;
    transition: .3s all linear;
}

.header__bar-first {
    top: 0;
}

.header__bar-second, .header__bar-third {
    top: 50%;
    transform: translateY(-50%);
}

.header__bar-fourth {
    bottom: 0;
}

.header__burger-active .header__bar-first, .header__burger-active .header__bar-fourth {
    opacity: 0;
}

.header__burger-active .header__bar-second {
    transform: translateY(-50%) rotate(45deg);
}

.header__burger-active .header__bar-third {
    transform: translateY(-50%) rotate(-45deg);
}