<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="utf-8" />
  <title>Luxstamp</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#131116" />
  <link rel="icon" href="img/favicons/favicon.ico" type="image/x-icon" />
  <meta name="description" content="Template" />
  <meta property="og:title" content="Template" />
  <meta property="og:description" content="Template" />
  <!-- BEGIN styles -->
  <link rel="stylesheet" media="all" href="css/app.css" />
  <!-- END styles -->
</head>

<body>
  <header class="header">
    <div class="container header__container">
      <nav class="nav header__nav">
        <div class="header__logo">
          <img class="logo" src="./img/logo.png" alt="Логотип">
          <a href="#" class="header__lang-name">Ua</a>
          <img class="header__arrow" src="./img/arrow-down.png" alt="Указатель вниз">
        </div>
        <ul class="nav-menu header__menu">
          <li class="nav-list header__list">
            <a href="#">
              Замовити онлайн
            </a>
          </li>
          <li class="nav-list header__list">
            <a href="#">
              Переваги
            </a>
          </li>
          <li class="nav-list header__list">
            <a href="#">
              Наші клієнти
            </a>
          </li>
          <li class="nav-list header__list">
            <a href="#">
              Оплата та доставка
            </a>
          </li>
          <li class="nav-list header__list">
            <a href="#">
              Контакти
            </a>
          </li>
        </ul>
        <div class="header__mob">
          <div class="header__social">
            <img class="header__network" src="./img/viber.svg" alt="Viber">
            <img class="header__network" src="./img/telegram.svg" alt="Telegram">
          </div>
          <div class="header__hamburger">
            <span class="header__bar"></span>
            <span class="header__bar"></span>
            <span class="header__bar"></span>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <section class="hero">
      <div class="container hero__container">
        <div class="wrapper hero__wrapper">
          <div class="hero__content">
            <div class="hero__text">
              <h1 class="hero__title">
                Виготовимо печатку, штамп або факсиміле, доки ви п’єте каву
              </h1>
              <p class="hero__desc">
                Термін виготовлення — від 15 до 60 хвилин. Довічна гарантія на кліше. Доставка по місту та Україні.
              </p>
              <button class="button hero__button">
                Замовити печатку
              </button>
            </div>
            <div class="hero__img">
              <img class="hero__main-img" src="./img/main-hero.png" alt="Штамп">
            </div>
          </div>
        </div>
      </div>
      <button class="hero__call">
        <svg width="21" height="30" viewBox="0 0 21 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M14.6272 8.07139C14.4656 9.10767 12.6474 12.9173 12.1327 13.8894C11.4432 15.1826 8.80626 19.0577 7.6751 19.9155L6.74743 20.5485L4.49829 19.8156L0 24.5723L0.154412 25.8132L2.69562 29.1826L3.79207 30C3.79207 30 19.9203 19.7728 21 1.40987C21 1.40987 20.6816 1.05651 20.0699 0.374777L15.8338 0L14.4453 0.540155L13.2136 6.4188L14.5626 7.88221"
            fill="white" />
        </svg>
      </button>
    </section>
    <section class="section home">
      <div class="container home__container">
        <div class="home__wrapper">
          <div class="home__name">
            <div class="home__stripe--1"></div>
            <h2 class="home__main">
              Як зробити замовлення?
            </h2>
          </div>
          <div class="home__about">
            <div class="home__title">
              <div class="home__stripe"></div>
              <h3 class="home__obj">
                Для ФОП
              </h3>
            </div>
            <div class="home__desc">
              <p class="home__text">
                Для виготовлення потрібна фотографія/скан-копія витягу з ЕДР або вашого ідентифікаційного коду.
              </p>
            </div>
            <div class="home__title">
              <div class="home__stripe"></div>
              <h3 class="home__obj">
                Для ТОВ
              </h3>
            </div>
            <div class="home__desc">
              <p class="home__text">
                Для держустанов та ТОВ для виготовлення потрібна фотографія або скан-копія витягу з ЕДРПОУ.
              </p>
            </div>
            <div class="home__title">
              <div class="home__stripe"></div>
              <h3 class="home__obj">
                Для адвоката/лікаря
              </h3>
            </div>
            <div class="home__desc">
              <p class="home__text">
                Для виготовлення потрібна фотографія або скан-копія свідоцтва адвоката/диплома лікаря.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section home-2">
      <div class="container home-2__container">
        <div class="home-2__wrapper">
          <div class="home-2__name">
            <div class="home-2__title">
              <div class="home-2__stripe--1"></div>
              <h2 class="home-2__obj">
                Онлайн-замовлення
              </h2>
            </div>
            <div class="home-2__desc">
              <p class="home-2__text">
                4 кроки до готового виробу:
              </p>
            </div>
            <div class="home-2__desc">
              <p class="home-2__text">
                <span class="home-2__number">01</span> Обираєте потрібний вид та дизайн печатки.
              </p>
            </div>
            <div class="home-2__desc">
              <p class="home-2__text">
                <span class="home-2__number">02</span> Заповнюєте форму замовлення.
              </p>
            </div>
            <div class="home-2__desc">
              <p class="home-2__text">
                <span class="home-2__number">03</span> Додаєте до форми фото або скан-копію потрібного документа.
              </p>
            </div>
            <div class="home-2__desc">
              <p class="home-2__text">
                <span class="home-2__number">04</span> Отримуєте виріб кур’єром, Новою Поштою або забираєте у нас в
                офісі.
              </p>
            </div>
          </div>

          <div class="home-2__about">
            <div class="home-2__title">
              <div class="home-2__stripe--2"></div>
              <h2 class="home-2__obj">
                Замовлення в офісі
              </h2>
            </div>
            <div class="home-2__desc">
              <p class="home-2__text">
                4 кроки до готового виробу:
              </p>
            </div>
            <div class="home-2__desc">
              <p class="home-2__text">
                <span class="home-2__number">01</span> Приходите до нашого офісу.
              </p>
            </div>
            <div class="home-2__desc">
              <p class="home-2__text">
                <span class="home-2__number">02</span> Обираєте потрібний вид та дизайн печатки.
              </p>
            </div>
            <div class="home-2__desc">
              <p class="home-2__text">
                <span class="home-2__number">03</span> Додаєте потрібний документ або його фото/скан-копію, а також
                документ що підтверджує особу.
              </p>
            </div>
            <div class="home-2__desc">
              <p class="home-2__text">
                <span class="home-2__number">04</span> Ви не встигнете допити каву, як ваш виріб буде готовий :)
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section home-3">
      <div class="container home-3__container">
        <div class="home-3__text">
          <h2 class="home-3__title">
            Онлайн-замовлення
          </h2>
        </div>
        <div class="home-3__orders">
          <div class="home-3__cover">
            <p class="home-3__about">
              Печатка
            </p>
            <img class="home-3__img" src="./img/home-3_1.svg" alt="Печатка">
          </div>
          <div class="home-3__cover">
            <p class="home-3__about">
              Штамп
            </p>
            <img class="home-3__img" src="./img/home-3_2.svg" alt="Штамп">
          </div>
          <div class="home-3__cover">
            <p class="home-3__about">
              Факсиміле
            </p>
            <img class="home-3__img" src="./img/home-3_3.svg" alt="Факсиміле">
          </div>
        </div>
      </div>
    </section>
    <section class="section home-4">
      <div class="container home-4__container">
        <div class="home-4__stripe"></div>
        <div class="home-4__wrapper">
          <div class="home-4__title">
            <p class="home-4__text">
              Трохи цифр
            </p>
            <h3 class="home-4__big-text">
              Переваги печаток та штампів LuxStamp
            </h3>
            <div class="home-4__arrow">
              <img class="home-4__img" src="./img/home-4_arrow.svg" alt="Стрелка вниз">
            </div>
          </div>
          <ul class="home-4__numbers">
            <li class="home-4__list">
              <div class="home-4__block--1">
                <div class="home-4__stripe--1"></div>
                <div class="home-4__big-numbers">
                  11
                </div>
                <div class="home-4__small-text">
                  років
                </div>
              </div>
              <div class="home-4__block--2">
                <div class="home-4__stripe--2"></div>
                <div class="home-4__med-text">
                  виготовляємо печатки
                </div>
              </div>
            </li>
            <li class="home-4__list">
              <div class="home-4__block--1">
                <div class="home-4__stripe--1"></div>
                <div class="home-4__big-numbers">
                  3 567
                </div>
                <div class="home-4__small-text">
                  клієнтів
                </div>
              </div>
              <div class="home-4__block--2">
                <div class="home-4__stripe--2"></div>
                <div class="home-4__med-text">
                  задоволені нашою роботою
                </div>
              </div>
            </li>
            <li class="home-4__list">
              <div class="home-4__block--1">
                <div class="home-4__stripe--1"></div>
                <div class="home-4__big-numbers">
                  99
                </div>
                <div class="home-4__small-text">
                  років
                </div>
              </div>
              <div class="home-4__block--2">
                <div class="home-4__stripe--2"></div>
                <div class="home-4__med-text">
                  гарантія на кліше
                </div>
              </div>
            </li>
            <li class="home-4__list">
              <div class="home-4__block--1">
                <div class="home-4__stripe--1"></div>
                <div class="home-4__big-numbers">
                  23 528
                </div>
                <div class="home-4__small-text">
                  відтисків
                </div>
              </div>
              <div class="home-4__block--2">
                <div class="home-4__stripe--2"></div>
                <div class="home-4__med-text">
                  зроблено нашими печатками
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section home-5">
      <div class="container home-5__container">
        <div class="home-5__stripe"></div>
        <div class="home-5__wrapper">
          <div class="home-5__title">
            <h3 class="home-5__big-text">
              Чому ми?
            </h3>
          </div>
          <ul class="home-5__text">
            <li class="home-5__list">
              <div class="home-5__block--1">
                <div class="home-5__stripe"></div>
                <div class="home-5__med-text">
                  Швидке виготовлення
                </div>
              </div>
              <div class="home-5__block--2">
                <div class="home-5__stripe"></div>
                <div class="home-5__small-text">
                  Нам потрібно від 15 до 60 хвилин, щоб виготовити печатку, штамп або факсиміле.
                </div>
              </div>
            </li>
            <li class="home-5__list">
              <div class="home-5__block--1">
                <div class="home-5__stripe"></div>
                <div class="home-5__med-text">
                  Лазерна технологія
                </div>
              </div>
              <div class="home-5__block--2">
                <div class="home-5__stripe"></div>
                <div class="home-5__small-text">
                  Ми використовуємо сучасну лазерну технологію для виготовлення кліше.
                </div>
              </div>
            </li>
            <li class="home-5__list">
              <div class="home-5__block--1">
                <div class="home-5__stripe"></div>
                <div class="home-5__med-text">
                  Надійність виробу
                </div>
              </div>
              <div class="home-5__block--2">
                <div class="home-5__stripe"></div>
                <div class="home-5__small-text">
                  Використовуємо фурнітуру від австрійського виробника та надаємо довічну гарантію на кліше.
                </div>
              </div>
            </li>
            <li class="home-5__list">
              <div class="home-5__block--1">
                <div class="home-5__stripe"></div>
                <div class="home-5__med-text">
                  Захищеність кліше
                </div>
              </div>
              <div class="home-5__block--2">
                <div class="home-5__stripe"></div>
                <div class="home-5__small-text">
                  Кожне кліше має 3-х ступеневий захист від підроблення — не хвилюйтесь за безпеку своїх документів.
                </div>
              </div>
            </li>
            <li class="home-5__list">
              <div class="home-5__block--1">
                <div class="home-5__stripe"></div>
                <div class="home-5__med-text">
                  Зручний сервіс
                </div>
              </div>
              <div class="home-5__block--2">
                <div class="home-5__stripe"></div>
                <div class="home-5__small-text">
                  Кава, чай, печиво та цукерки — у нас є все! Зробіть приємну паузу у нашому офісі, доки ми виготовляємо
                  печатку.
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section home-6">
      <div class="container home-6__container">

      </div>
    </section>
  </main>
  <!-- BEGIN scripts -->
  <script src="./js/runtime-app.js"></script>
  <script src="./js/app.js"></script>
  <!-- END scripts -->
</body>

</html>
