// ======================================= header =======================================

.header {
    @include reg;
    margin-bottom: size(185, 30);
    font-size: size(18, 16);
    line-height: 100%;
    color: #3F3D56;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: size(15, 11);
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo {
    @include cover;
    width: size(195, 97);
    height: size(58, 29);
    margin-right: size(45, 9);
}

.header__lang-name {
    padding-right: size(3, 6);
}

.header__menu {
    display: flex;
}

.header__list {
    @include reg;
    font-size: size(18, 14);
    margin-right: vw(50);

    &:nth-child(5) {
        margin-right: 0;
    }

    @media (max-width: $br1) {
        display: none;
    }
}

.header__network {
    margin-right: 8px;

    &:nth-child(2) {
        margin-right: 0;
    }

    @media (max-width: $br1) {
        display: block;
    }
}

.header__mob {
    display: none;
    align-items: center;

    @media (max-width: $br1) {
        display: flex;
    }
}

.header__social {
    display: flex;
    align-items: center;
}

.header__hamburger {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
    width: 26px;
}

.header__bar {
    width: 100%;
    height: 2px;
    background-color: #3F3D56;
}

// ======================================= hero =======================================

.hero__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: $br1) {
        flex-direction: column-reverse;
    }
}

.hero__text {
    width: size(878, 335);
    margin-top: size(70, 36);
}

.hero__title {
    @include med;
    font-size: size(60, 30);
    line-height: 120%;
    color: #3F3D56;
    margin-bottom: size(32, 20);
}

.hero__desc {
    @include reg;
    font-size: size(20, 16);
    line-height: 150%;
    color: #3F3D56;
    margin-bottom: size(48, 32);
    width: size(602, 335);
}

.hero__button {
    @include reg;
    background-color: #DC5349;
    box-shadow: 0px 18px 50px rgba(235, 87, 87, 0.35);
    border-radius: 33px;
    color: #fff;
    font-size: size(20, 16);
    height: size(72, 49);
    width: size(323, 237);
    line-height: 100%;
    padding-top: size(25, 16);
    padding-bottom: size(25, 16);
    padding-right: size(75, 49);
    padding-left: size(75, 49);

    &:hover {
        background-color: #dd4136;
    }
}

.hero__main-img {
    @include cover;
    width: size(593, 208);
    height: size(567, 199);
}

.hero__call {
    z-index: 100;
    position: fixed;
    border-radius: 100px;
    bottom: 68px;
    right: 85px;

    @media (max-width: $br1) {
        display: none;
    }
}

.hero__call-img {
    width: vw(100);
    height: vw(100);
}